<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="challenge-main">
    <form action="/intake/challenge" method="POST">
      <fieldset class="context-challenge">
        <legend>Coding challenge</legend>
        <ol>
          <li><strong>HTML</strong>: Voor de minor is het belangrijk dat je bekend bent met het Document Object Model.
            Eerst willen wij je vragen de html te schrijven voor het menu zoals dat in het voorbeeld is weergegeven. De
            header en de menuknop krijg je vast van ons cadeau!</li>
          <li><strong>CSS</strong>: Voor deze opdracht is het belangrijk om de HTML elementen die je gebruikt hebt te
            stylen. Hier is het van belang css selectors te gebruiken zoals: id, class, child element. Moderne
            standaarden zoals flexbox en / of grid zijn pluspunten! Probeer het menu zo te stylen dat het er uitziet als
            in het voorbeeld.</li>
          <li><strong>JavaScript</strong>: Zorg er tenslotte met JavaScript voor dat het menu door te klikken op de knop
            in de header verborgen en getoond kan worden.</li>
        </ol>
      </fieldset>
      <fieldset class="code-container" id="code-container">
        <legend>
          Schrijf hieronder jouw code. <button id="button-fullscreen"><i class="fas fa-expand-alt"></i></button>
        </legend>

        <div class="codepanels-container">
          <div class="codepanel">
            <label class="panelLabel" data-for="html">
              HTML
              <i class="far fa-angle-down"></i>
            </label>
            <div id="html" class="panelContent is-opened">
              <% if (hasData) { %> 
                <%- data.codechallenge.html %>
                <% } else { %>
                  <header>
                    <h1>Coding Challenge Example</h1>
                    <button>Menu</button>
                  </header>
                <% } %>
            </div>
          </div>

          <div class="codepanel">
            <label class="panelLabel" data-for="css">
              CSS
              <i class="far fa-angle-down is-rotated"></i>
            </label>
            <div id="css" class="panelContent">
              <% if (hasData) { %> 
                <%- data.codechallenge.css %>
                <% } else { %>
                  body {
                    background: #fff;
                  }
      
                  header {
                    display:flex;
                  }
                <% } %>
            </div>
          </div>

          <div class="codepanel">
            <label class="panelLabel" data-for="js">
              JavaScript
              <i class="far fa-angle-down is-rotated"></i>
            </label>
            <div id="js" class="panelContent">
              <% if (hasData) { %> 
                <%- data.codechallenge.javascript %>
                <% } else { %>
                  const button = document.querySelector('button');
                <% } %>
            </div>
          </div>
        </div>

        <input name="id" type="hidden" value="<%- id %>">
      </fieldset>

      <section class="output-container">
        <div>
          <div>
            <h2>Voorbeeld</h2>
            <div class="image-example">
              <img src="/images/example.png" alt="Voorbeeld image">
            </div>
          </div>
          <div id="output">
            <h2>Jouw resultaat</h2>
            <iframe></iframe>
          </div>

        </div>
      </section>

      <button id="saveButton">Sla jouw resultaat op</button>

    </form>
  </main>

  <div class="splashscreen">
    <ul class="minor-logo">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
  <script src="/js/challenge.js"></script>
</body>

</html>